# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.npm
*.log

# IDEs
.idea/
.vscode/
*.sublime-workspace

# Cursor specific
.cursor/

# Secrets
secrets.js

